@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&family=Teko:wght@600&display=swap');

* { /*text align center for all text*/
  text-align: center;
}
img.logo_img { /*logo sizing*/
  max-height: 80px;
}
nav{ /*nav display, justification and color*/
  display: flex;
  justify-content: space-around;
  background-color: #588182;
}
nav a { /*nav  link color and text dec removal*/
  text-decoration: none;
  color: #A2B0A1;
}
header a:hover, footer a:hover{ /*header/footer hover color*/
  background-color: #A2B0A1;
  color: #588182;
}
header a, footer a { /*header/footer padding and color*/
padding: 30px;
background-color: #588182;
}

h1 { /*h1 coloring, fontsize, margin*/
  color: #600E0E;
  background-color: #588182;
  font-size: 3em;
  margin: 0 auto;
}
h3 { /*h3 font, size, color*/
  font-size: 2em;
  color: #600E0E;
  font-family: 'Teko', sans-serif;
}
p { /*p font, size*/
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.3em;
}

body { /*body background color*/
  background-color: #A4A29F;
}

body img.board_img { /*front page skateboaord img sizing*/
  max-width: 200px;
}


/*My Story CSS */
div.gallery_grid { /*grid row and column sizing*/
  display: grid;
  grid-template-rows: repeat(6, calc(100/6));
  grid-template-columns: repeat(2, 1fr);

}
div.gallery_grid h3, div.gallery_grid p { /*grid text placement and sizing*/
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 35em;
}
/*Begin Grid Image Placemet*/
div.gallery_grid img {
  max-width: 35em;
  grid-column: 1/2;
  padding: 20px;
  justify-self: center;
}
img.selfie {
  grid-row: 1/2;
  background-color: #600E0E;
}
img.street {
  grid-row: 2/3;
  background-color: #588182;
}
img.hospital_img {
  grid-row: 3/4;
  background-color: #600E0E;
}
img.after_bath {
  grid-row: 4/5;
  background-color: #588182;
  filter: blur(20px);
}
img.after_bath:hover{
  filter: none;
}
img.foll_months {
  grid-row: 5/6;
  background-color: #600E0E;
}
img.tynee_board {
  grid-row: 6/7;
  background-color: #588182;
}
/*End Grid Image Placement*/

/*Begin Grid Text PLacement*/
div.gallery_grid p {
  grid-column: 2/3;
  padding: 20px;
}
div.gallery_grid h3 {
  grid-column: 2/3;
}
div.p1{
  justify-self: center;
  background-color: #588182;
}
div.p2{
  justify-self: center;

}
div.p3{
  justify-self: center;
  background-color: #588182;
}
div.p4{
  justify-self: center;

}
div.p5{
  justify-self: center;
  background-color: #588182;
}
div.p6{
  justify-self: center;

}
/*End Grid Text Placement*/
/*End My Story Grid CSS*/

/*Gallery CSS Start*/
img.warning {
  display: inline;
  max-width: 300px;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: #600E0E;
  border-radius: 2em;
}
div.crash_photos {
  margin-top: 100px;
}

div#snoho_trail img, div#if_greenbelt img, div.tr_trail img, div.rsc_trail img, div.crash_photos img, div.crash_photos img, div.sc_busloop img{
  max-width: 30%;
  padding: 1%;
  border-radius: 75px;
}
/*Gallery CSS End*/