  @import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&family=Teko:wght@600&display=swap');

* {
    text-align: center;
}
img.logo_img {
    max-height: 80px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #588182;
 }
 nav a {
    text-decoration: none;
    color: #A2B0A1;
 }
header a:hover, footer a:hover{
    background-color: #A2B0A1;
    color: #588182;
}

header a, footer a{
padding: 30px;
background-color: #588182;
}

h1 {
    color: #600E0E;
    background-color: #588182;
    font-size: 2.5em;
    margin: 0 auto;
}
body {
    background-color: #A4A29F;
}

body img.board_img {
    max-width: 200px;
}

h3{
    font-size: 1.5em;
    color: #600E0E;
    font-family: 'Teko', sans-serif;
}
p {
    font-family: 'Red Hat Display', sans-serif;
}
/*use filter: blur(px) to blur imgs then hover and filter none to unblur*/


div#snoho_trail img, div#if_greenbelt img{
    max-width: 750px;
}